# #create a student recommendation system to recommended the course according to student needed:

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
# create our own dataset for students:
data ={
    "Students":["lucky","lokesh","lalit","kunal","lakshay","rudranshu",
                "ishank","ishant","kritik","manoj","mahipal","shubham"],
   
   "Interested domains": [
        "Data science, Data Analysis",
        "Machine Learning, Python, Math",
        "Web Development, JavaScript, HTML",
        "Blockchain, Cryptocurrency, Security",
        "Data Science, Statistics, Python",
        "AI, Neural Networks, Deep Learning",
        "Web Development, CSS, Design",
        "Game Development, C#, Unity",
        "Cybersecurity, Ethical Hacking",
        "Mobile Development, Swift, iOS",
        "DSA with c++,DSA with java",
        "typescript,node.js,express.js"
    ]
}
df = pd.DataFrame(data)

In [4]:
df

     Students                    Interested domains
0       lucky           Data science, Data Analysis
1      lokesh        Machine Learning, Python, Math
2       lalit     Web Development, JavaScript, HTML
3       kunal  Blockchain, Cryptocurrency, Security
4     lakshay      Data Science, Statistics, Python
5   rudranshu    AI, Neural Networks, Deep Learning
6      ishank          Web Development, CSS, Design
7      ishant           Game Development, C#, Unity
8      kritik        Cybersecurity, Ethical Hacking
9       manoj        Mobile Development, Swift, iOS
10    mahipal            DSA with c++,DSA with java
11    shubham         typescript,node.js,express.js

In [42]:
# use of TF - IDF + cosine similarity or even manual matching
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(df['Interested domains'])

similarity = cosine_similarity(interest_matrix)

In [22]:
print("Vocabulary (Feature Names):")
print(tfidf.get_feature_names_out())

Vocabulary (Feature Names):
['ai' 'analysis' 'blockchain' 'cryptocurrency' 'css' 'cybersecurity'
 'data' 'deep' 'design' 'development' 'dsa' 'ethical' 'express' 'game'
 'hacking' 'html' 'ios' 'java' 'javascript' 'js' 'learning' 'machine'
 'math' 'mobile' 'networks' 'neural' 'node' 'python' 'science' 'security'
 'statistics' 'swift' 'typescript' 'unity' 'web' 'with']

In [18]:
# Step 3: Recommendation function
def recommend_courses(name):
    idx = df[df['Students'] == name].index[0]
    scores = list(enumerate(similarity[idx]))
    sorted_scores = sorted(scores, key=lambda x: x[1], reverse=True)
    top_matches = sorted_scores[1:4] 
    return df.iloc[[i[0] for i in top_matches]]

In [24]:
print("Recommendations for lucky (data science):")
recommend_courses("lucky")

Recommendations for lucky (data science):

  Students                 Interested domains
4  lakshay   Data Science, Statistics, Python
1   lokesh     Machine Learning, Python, Math
2    lalit  Web Development, JavaScript, HTML