In [3]:
#conditional statement 
a = 38
b = 208
if b > a:
  print("b is greater than a")

b is greater than a

In [31]:
a = 100
b = 100
if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")

a and b are equal

In [37]:
a = 100
b = 283
if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
elif b > a:
    print("b is greater than a")

b is greater than a

In [43]:
a = 3832
b = 392
if b > a:
    print("b is greater than a")
else :
    print("b is not greater than a ")

b is not greater than a

In [45]:
x = 309
y = 393
if y > x:
    print("y is greater than x")
else :
    print("y is not greater than x")

y is greater than x

In [49]:
# short hand if : this are basically use for if you have only  use for one line two print the statement 
a = 108
b = 203
if b > a: print("b is greater than a")

b is greater than a

In [51]:
#short hand if else : this are basically use for if you have print the if and else condition
a = 382
b = 109
print("A") if a>b else print("B")

A

In [55]:
#short hand else if 
a = 398
b = 398
print("A") if a>b else print("=") if a==b  else print("B")

=

In [72]:
#and : and operator is a logical operator it is used for combine the statement
a = 322
b = 38
c = 504
if b > a  and b>c:
    print("Both conditions are true")
else:
    print("Both conditions are false")

Both conditions are false

In [83]:
#OR : or operator is a logical operator it is used to combine the statement 
a = 38
b = 493
c = 2829
if b > a or b>c:
  print("at least one conditioin is true")

at least one conditioin is true

In [85]:
#not : not operator is used for to reverse the result
a = 288
b = 382
if not a>b: print("a is not greater than b")

a is not greater than b

In [91]:
#nested if : this condition if and also one more if in if then condition is not ture then else
x = 48
if x >10:
 print("above ten")
if x >20:
 print("above twenty")
else :
 print ("but not above 20")

above ten
above twenty

In [93]:
a = 38;
b = 49;
if b > a :
    pass

In [101]:
#instead of writing many if else statement using the match statement the match statement use one code block to be executed
day = 3
match day :
 case 1:
    print("Monday")
 case 2:
    print("Tuesday")
 case 3:
    print("Wednesday")
 case 4:
    print("Thursday")
 case 5:
    print("Friday")
 case 6:
    print("Saturday")
 case 7:
    print("Sunday")

Wednesday

In [103]:
day = 2
match day:
 case 6:
     print("today is saturday")
 case 7:
     print("today is sunday")
 case _:
     print("looking forward to the weekend")

looking forward to the weekend

In [105]:
# | use pipe character to combine the values
day = 6
match day:
 case 1|2|3|4|5:
     print("today is weekday")
 case 6|7:
     print("today is weekend")

today is weekend

In [109]:
# | use pipe character two print the day and month
month = 7
day = 5
match day:
 case 1|2|3|4|5 if month==6:
     print("weekday in june")
 case 1|2|3|4|5 if month==7:
     print("weekday in july")
 case _:
     print("no match day")

weekday in july