In [1]:
import pandas as pd

In [3]:
data = {
    'name': ['lucky','lokesh','lalit', 'kunal'],
    'age': [ 18 , 19 ,20 , 21],
    'city': ['jaipur', 'pali', 'mountabu', 'ajmer']
}

In [5]:
df = pd.DataFrame(data)

In [7]:
print(df)

     name  age      city
0   lucky   18    jaipur
1  lokesh   19      pali
2   lalit   20  mountabu
3   kunal   21     ajmer