In [9]:
#normal function
def my_function():
 print("hello from a function")

In [11]:
# calling a function
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [19]:
#arguments in function
def my_function(fname):
   print(fname  +"")

my_function("lucky")
my_function("lokesh")
my_function("lalit")

lucky
lokesh
lalit

In [21]:
# two arguments in function
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("lucky", "gurjar")

lucky gurjar

In [29]:
#arbitary argument
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [39]:
#key argument in function
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [45]:
#arbitary keyword argument 
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "lucky", lname = "gurjar")

His last name is gurjar