In [1]:
x = 10
y = "hello coder"
print(x)
print(y)

10
hello coder

In [3]:
x = str(3) # this print 3
y = int(3) # also print 3
z = float(3.0) # this print 3.0 because float is decimel type data type
print(x)
print(y)
print(z)

3
3
3.0

In [5]:
x = str(5)
y = int(10)
z = float(100)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
# variable must follow that rule
myvar = "mark"
my_var = "mark"
_my_var = "mark"
myvar2 = "mark"
MYVAR = "mark"
myVar = "mark"
#variables are case sensitive

In [11]:
#multiwords variable use camel case
myVariableName = "john"
#multiwords variable use pascal case
MyVariableName = "john"
#multiwords variable use snake case
my_variable_name = "john"

In [13]:
x,y,z = "apple", "mango", "banana"
print(x)
print(y)
print(z)

apple
mango
banana

In [15]:
x = y = z = "strawberry"
print(x)
print(y)
print(z)

strawberry
strawberry
strawberry

In [17]:
fruits = [ "kiwi","watermelon","muskmelon"]
x,y,z = fruits
print(x)
print(y)
print(z)

kiwi
watermelon
muskmelon

In [19]:
a = b = c = "1111"
print(a)
print(b)
print(c)

1111
1111
1111

In [21]:
grades = [ "first","second","thierd"]
a,b,c = grades
print(a)
print(b)
print(c)

first
second
thierd

In [23]:
a = " Hi Everyone my name is lucky"
print(a)

 Hi Everyone my name is lucky

In [27]:
a = "universe"
b = "is"
c = "great"
print(a,b,c)

universe is great

In [31]:
a = "Jaipur"
b = "is"
c = "fabulous"
print(a + b + c)

Jaipurisfabulous

In [41]:
x = "awesome"
def myfunc():
    print("python is "  +x)
myfunc()

python is awesome

In [51]:
def myfunc():
  global x # this is global variable
x = "fantastic"
myfunc()
print("python is " +x)

python is fantastic

In [55]:
# lists of datatypes are in python
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

SyntaxError: invalid syntax (930746102.py, line 2)

In [63]:
# how to assign that datatypes in variables
x = "hello world " #str
x = 20 #int 
x = 20.0 #float
x = 1j #complex
x = ["apple","papaya","mango"] #list
x = ("apple","papaya","mango") #tuple
x = range(8) #range
x = {"name" : "lucky","lokesh","lalit" : 18} #dict
x = {"apple","manog","papaya"} #set
x = frozenset ({ "apple", "mango", "bannana"}) #frozenset
x = true
x = b"helll"
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

SyntaxError: ':' expected after dictionary key (355904367.py, line 9)

In [65]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6)	#range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	#bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

In [67]:
# use numbers in int , float , complex
x = 22
y = 2488383
z = -2938327
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [69]:
#float 
x = 38.39
y = 85.3933
z = -29.39292
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [75]:
#complex
x = 1j
y = 2j
z = 3j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [77]:
x = 38
y = 10.38
z = 3j
a = int(x) #convert int to float 
b = float(y) # float to int
c = complex(z) # int to complex
print(a)
print(b)
print(c)
print(type(x))
print(type(y))
print(type(z))

38
10.38
3j
<class 'int'>
<class 'float'>
<class 'complex'>

In [81]:
#casting : basically casting used for specify the data types that means if there  you define float then you specify int so use (int)
x = int(2)
y = int(3.0)
z = int(20)
print(x)
print(y)
print(z)

2
3
20

In [85]:
x = float(2)
y = float(3.0)
z = float(-22)
print(x)
print(y)
print(z)

2.0
3.0
-22.0

In [91]:
x = str(2j)
y = str(3+3)
z = str("hell")
print(x)
print(y)
print(z)

2j
6
hell