In [9]:
i = 1
while i < 6:
 print(i)
 i+=1

1
2
3
4
5

In [7]:
i = 2
while i < 8:
  print(i)
  i+=1

2
3
4
5
6
7

In [24]:
# break statement in the while loop
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [42]:
# continue statement in the while loop
i = 0
while i < 7:
  i+=1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7

In [44]:
# else statement in the while loop
i = 1
while i < 5:
 print(i)
 i+=1
else:
 print("i is no longer than 5")

1
2
3
4
i is no longer than 5

In [46]:
#for loop 
fruits = ["apple","mango","bannana"]
for x in fruits:
  print(x)

apple
mango
bannana

In [50]:
#for loop
for x in "bannana" , "mango":
  print(x)

bannana
mango

In [58]:
# break in for loop
fruits = ["papaya","kiwi","watermelon"]
for x in fruits:
 print(x)
 if x == "kiwi":
  break

papaya
kiwi

In [60]:
# break in for loop
grades = ["first","second","thierd"]
for x in grades:
  if x == "second":
   break
  print(x)

first

In [62]:
# break in for loops
vegis = ["panner","soya","yogurt"]
for x in vegis:
  print(x)
  if x == "theird":
    break

panner
soya
yogurt

In [66]:
# countinue in for loop
cars = ["volvo","bmw","audi","lambo"]
for x in cars:
 if x == "audi":
    continue
 print(x)

volvo
bmw
lambo

In [68]:
# continue in for loop
superbikes = ["zx10r","s100rr","z900","panigalev4"]
for x in superbikes:
  print(x)
  if x == "panigalev4":
    continue

zx10r
s100rr
z900
panigalev4

In [72]:
# range function in for loop
for x in range (9):
 print(x)

0
1
2
3
4
5
6
7
8

In [74]:
# two range function in for loop
for x in range (3,9):
  print(x)

3
4
5
6
7
8

In [76]:
# three range function in for loop
for x in range (2,28,4): # increament by 4
 print(x)

2
6
10
14
18
22
26

In [80]:
# range function used else in  for loop
for x in range(6):
 print(x)
else:
 print("finally finished")

0
1
2
3
4
5
finally finished

In [84]:
# rnage function used break and else in for loop
for x in range (9):
  if x==7 : break
  print(x)
else:
  print("finally finished")

0
1
2
3
4
5
6

In [94]:
# range function used continue and else in for loop
for x in range(8):
  if x==5 : continue
  print(x)
else:
  print("finally finished")

0
1
2
3
4
6
7
finally finished

In [88]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [90]:
car = ["super","sports","adventure","normal"]
names = ["ferrari","bmw","rubicon","creata"]
for x in car:
  for y in names:
    print(x, y)

super ferrari
super bmw
super rubicon
super creata
sports ferrari
sports bmw
sports rubicon
sports creata
adventure ferrari
adventure bmw
adventure rubicon
adventure creata
normal ferrari
normal bmw
normal rubicon
normal creata

In [92]:
# pass statement in for loop
for x in [0, 1, 2]:
  pass